.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  text-align: center;
}

.number {
  background-color: #f8f9fa;
  padding: 8px 12px; /* Aumentando o espaçamento interno */
  border-radius: 4px;
  display: inline-block;
  margin: 5px;
  font-weight: bold;
  font-size: 24px; /* Aumentando o tamanho da fonte */
}

.result-box {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button.btn-primary {
  padding: 10px 20px;
  font-size: 18px;
}
